
<div class="well" id="chat"></div>
<form class="form-horizontal">

	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	    	<input type="button" class="btn btn-primary" id="send" value="kousinn"/>	
	    </div>
	</div>
</form>

